@import url('./tailwind.css');
@import url('./mdx.css');
@import url('./prisma.css');

@layer {
  ::-webkit-scrollbar {
    width: 7px;
    height: 5px;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-primary;
    transition: 0.25s;
    border-radius: 2px;
  }

  ::-webkit-scrollbar-track {
    background: 0 0;
  }
}
